
body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  background: linear-gradient(131.62deg, #0B65C6 9.39%, #0B65C6 73.53%);
  line-height: 1.25;
  color: #303030;
}
h1 {
  color: #38659e;
}
a {
  text-decoration: none;
  color: #38659e;
}
a:hover {
  text-decoration: underline;
}
.btn-primary {
  background-color: #0B65C6 !important;
}

.btn-outline-primary {
  color: #0B65C6 !important;
  border-color: #0B65C6 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #0B65C6 !important;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  color: #74acff !important;
}

.nav-link {
  color: white !important;
}

#loading {
  padding: 100px 0 1000px 0;
}

.input {
  font-size: 105%;
  padding: 4px;
  margin: 4px;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 3px;
}
textarea {
  font-family: sans-serif;
  border: 1;
  padding: 3px;
}
.textarea-small {
  color: gray;
  background-color: lightgoldenrodyellow;
  font-size: 80%;
}

.margined {
  margin: 5px;
}
.center {
  text-align: center;
  margin: auto;
}
.padded {
  padding: 5px;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#header {
  justify-content: space-between;
  color: white;
}
#menu-right {
  text-align: right;
  float: right;
}
.mainheader {
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  padding: 10px;
}

.smallfont {
  font-size: 90%;
  opacity: 80%;
}
.error {
  color: red
}
.wide {
  width: 100%;
}
.selection-list {
  overflow: auto;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#footer-right {
  text-align: right;
  float: right;
}
.selection-item {
  padding: 6px;
  background-color: white;
}
.selection-item:hover {
  background-color: #cbd7e8;
}
.selected-item {
  background-color: #e0e6ee;
}
.pull-label-small {
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
  font-size: 80%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}
